@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
#fall{
  text-align: center;
}